.confirmation-element-container {
  margin-bottom: 1rem;
}

.confirmation-key {
  color: rgb(58, 47, 73);
  font-weight: bold;
  margin-right: 1rem;
}

.confirmation-value {
  color: rgb(78, 73, 139);
}

.variant-key {
  text-decoration: underline;
}
